@import "tailwindcss";

@theme {
  --color-eerie-black: #1b1d1f;
  --color-charleston-green: #282b30;
  --color-blueberry: #4e80ee;
  --color-auro-metal-saurus: #6c727f;
  --color-light-silver: #d2d5da;

  --inset-shadow-custom: inset 0 0 2px -1px var(--color-light-silver);

  --font-family-be-vietnam-pro: "Be Vietnam Pro", serif;
}
